.f-1-1 {
  font-family: 'Julius Sans One', sans-serif;  
}

.f-1-2 {
  font-family: 'Crimson Text', serif;  
  font-style: italic;
}

.f-2-1 {
	font-family: 'Staatliches', cursive;
}

.f-2-2 {
	font-family: 'Staatliches', cursive;
}